<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Pitches</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <!-- {% if current_user.is_authenticated %}
      <li style="color: white; padding: 15px">{{current_user.username}}</li>
       <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        <a href="{{url_for('auth.logout')}}">Sign out</a>
      </button>
      {% else %}
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        <a href="{{url_for('auth.login')}}">Sign in</a>
      </button>
      {%endif%}  -->
      
      {% if current_user.is_authenticated %}
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        <a href="{{url_for('main.profile',uname=current_user.username)}}"
          >Profile</a
      </button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        <a href="{{url_for('auth.logout')}}">Sign out</a>
      </button>
      {% else %}
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        <a href="{{url_for('auth.login')}}">Sign in</a>
      </button>
      {%endif%}
    </ul>
  </div>
</nav>
